div.tile-row {
    height: 100px;
}

div.tile {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0px 0px;
    display: inline-block;
    text-align:center;
    position:relative;
    box-sizing: border-box;
}

div.tile.white-tile {
    background-color: #f5deb3;
}

div.tile.black-tile {
    background-color: #8b4513;
}

p.piece {
    position:absolute;
    left:50%;
    top:50%;
    margin:auto;
    transform: translate(-50%, -50%);
    font-size:xx-large;
    font-weight:900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}