div.tile-row {
    height: 100px;
}

div.tile {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0px 0px;
    display: inline-block;
    text-align:center;
    position:relative;
}

div.tile.white-tile {
    background-color: #f0f0f0;
}

div.tile.black-tile {
    background-color: #1f1f1f;
}

p.piece {
    position:absolute;
    left:50%;
    top:50%;
    margin:auto;
    transform: translate(-50%, -50%);
    font-size:larger;
    color:dimgrey;
}